.schedule-wrapper {
    width: 50%;
    margin: 100px auto;
    min-height: 500px;
    border: 1px solid red;

    .schedule-item {
        min-height: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

            ul {
                margin: 0;
                padding: 0;
                height: 100px;
                overflow: hidden;

                &.disable {
                    pointer-events: none;
                }

                li {
                    height: 100px;
                    box-sizing: border-box;
                    border: 1px solid red;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }

        .schedule-date {
            height: 100%;
            width: 60%;
            box-sizing: border-box;
            border: 1px solid blue;
        }

        .schedule-time {
            height: 100%;
            width: 25%;
            box-sizing: border-box;
            border: 1px solid green;
        }

        .schedule-manage {
            height: 100px;
            width: 15%;
            box-sizing: border-box;
            border: 1px solid orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }